# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SepJavaServer.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Flavius-Alin\Desktop\dscaszdvc\SepJavaServer\.idea\.idea.SepJavaServer.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
